.font-red {
    color: red;
}

.fotosaya {
    width: 2560px;
    height: 1440px;
    background-image: url('images/portoo.JPG');
    background-position: no-repeat;
    background-size: 2560px 1440px ; 
}